.App{
  text-align: center;
  width: 100%;
}
.App div{
  text-align: center;
}
.container{
  max-width: 700px;
  display: inline-block;
}
.header{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.articles{
  margin: 20px 20px;
}
.article{
  margin: 0 0 15px 0;
  text-align: center;
}
.article__link{
  font-size: 18px;
  text-decoration: none;
  color: #666;
}
.pagination{
  margin: 30px 0 0 0;
  display: inline-block;
}
.pagination-link{
  margin: 0 5px;
  text-decoration: none;
  color: #666;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 1.7;
  display: inline-block;
}
.pagination-link.active{
  background: #ececec;
}
.article-img{
  max-width: 100%;
  margin-bottom: 30px;
}
.article-title{
  font-size: 24px;
  margin-bottom: 20px;
}
.article-desc{

}
.back-link{
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}